
<div class="field">
<%= form_for(@pict) do |f| %>
  <%= f.label :comment %>
  <%= f.text_field :comment, class: 'form-control' %>
  <br>



      <%= f.file_field :photo %>
      <%= f.hidden_field :photo_cache %>

 <%= f.submit'投稿',class: 'btn btn-primary btn-block' %>
 </div>

  <%= link_to "フォト一覧画面にもどる", picts_path %>

<% end %>
