<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

<%= notice %>



<h1>フォト一覧</h1>
<% @picts.each do |pict| %>
<div class="row">
  <p>コメント:<%= pict.comment %></p>
  <%= link_to "写真を編集する", edit_pict_path(pict.id) %>
  <%= link_to '写真を削除する', pict_path(pict.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %>
</div>

<% end %>

<%= link_to "写真を投稿する", new_pict_path %>
</div>
</div>
